* {
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
}

h1 {
    font-family: 'Spinnaker', sans-serif;
}

h2 {
    font-family: 'Spinnaker', sans-serif;
}
h3 {
    font-family: 'Spinnaker', sans-serif;
    font-size: 16px;
}
p {
    font-family: 'Spinnaker', sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: inherit;
}

.topMargin {
    width: 100%;
    height: 10px;
    background: linear-gradient(rgb(240, 243, 245) 1%, rgb(255, 255, 255) 99%);
}

a:hover {
    cursor: pointer;
}

.scheduleLink {
    text-decoration: none;
    color: white;
}

.navContainer {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.burgLi {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.burgerMenu {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid #616161;
    padding: 5px;
    border-radius: 2px;
}

.burg {
    width: 25px;
    height: 3px;
    background-color: #616161;
    margin: 3px;
    border-radius: 2px;
}

.socLinkContainer {
    width: 180px;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socImg {
    height: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 650px;
    background: linear-gradient(to right, rgb(103, 166, 173), rgb(165, 236, 241), rgb(161, 231, 236), rgb(165, 236, 241), rgb(118, 185, 192));
}

.scheduleBox {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule {
    width: 200px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px #919191;
    text-shadow: 0px 0px 10px #919191;
}

.about {
    background: rgb(231,229,87);
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(97,97,97);
    padding: 10vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.olive {
    height: 10vh;
    border-radius: 50%;
}

.vertLine {
    width: 2px;
    height: 60px;
    background-color: rgb(97,97,97);
}

.paragraph {
    color: rgb(97,97,97);
    text-align: center;
}
.contactLink {
    padding: 5px;
    border: 1px solid rgb(97,97,97);
}

@media (min-width: 768px) {
    .burgLi, .burgerLink, .burgerMenu, .burg {
        width: 0;
        height: 0;
        font-size: 0;
        border: 0;
    }
    .navContainer {
        width: 60%;
        height: 60px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .nav {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: auto;
    }
    .navLi {
        height: 100%;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navLink {
        width: 100%;
        height: 90%;
        color: #616161;
        font-family: 'Spinnaker', sans-serif;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    .socLinkContainer {
        width: 150px;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .soc {
        padding-left: 20px;
    }
    .socImg {
        height: 22px;
    }
    .titleBox {
        width: 100%;
        height: 50vh;
        color: #ffffff;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 25%;
        padding-right: 25%;
        height: 100vh;
    }
    .scheduleBox {
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }
    .schedule {
        width: 200px;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 2px;
        border: 2px solid white;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 10px #919191;
        text-shadow: 0px 0px 10px #919191;
    }
    .about {
        margin-top: 50px;
    }
}