* {
    box-sizing: border-box;
    font-size: 0;
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
}

.a {
    height: 150px;
    display: inline-block;
    border: 5px solid white;
}

.brightPink {
    background-color: #f5c6d6;
}

.pink {
    background-color: #ee2e84;
}

.blue {
    background-color: #85cfd8;
}

.green {
    background-color: #8dc63f;
}

.orange {
    background-color: #e76e34;
}

.one {
    width: 100%;
}
.two {
    width: 100%;
}
.three {
    width: 100%;
}
.four {
    width: 100%;
}

@media (min-width: 768px) {
    .one {
        width: 25%;
    }
    .two {
        width: 50%;
    }
    .three {
        width: 75%;
    }
    .four {
        width: 100%;
    }
}